/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");

/* --------------------헤더 영역 start */
/* row의 부모 컨테이너 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 로고와 메뉴 아이콘의 부모 컨테이너 */
.row {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}


#header {
  height: 50px;
}
/* 헤더의 로고 */
#header .logo {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 5px;
  color: rgba(26, 221, 114, 0.651);
}

/* 헤더의 메뉴 */
#header .menu {
  position: absolute;
  right: 0;
  top: 6px;
  height: 40px;
  line-height: 1.75;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 5px rgb(31, 197, 45);
  background: linear-gradient(180deg, rgb(26, 221, 114), rgba(0, 0, 0, 0));
  font-size: 20px;
  text-align: center;
  width: 40px;
  border-radius: 50px;
}

#header {
  border-bottom: 1px solid rgb(214, 209, 209);
  background-color: black;
}

/* 헤더 end */

/* -------------메인 영역 start */

.music h2{
  margin: 15px 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(31, 197, 45);
  text-shadow: 0 0 8px rgb(31, 197, 45);
}


/* 데일리 뮤직 */
.da_music .da_img{
  display: inline;
}


/* 앨범 뮤직 */
.al_music .al_img{
  display: inline;
}

